* {
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* headers left start */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-left: 100px;
    padding-right: 100px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.158);

  
}


body{
    margin-top: 0px;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}
header a{
    text-decoration: none;
}
.leftmenu a{
    font-size: 14px;
    color: #737373;
    font-weight: bold;
    margin-left: 21px;
}
.lefthead{
    display: flex;
    align-items: center;
}
.leftmenu{
    margin-left: 41px;
}
/* header left stop */


/* header right start */
.righthead a{
    font-size: 14px;
    font-weight: bold;
    color: #96BB7C;
}
.righthead button{

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #96BB7C;
    border: none;
    border-radius: 5px;
    margin-left: 45px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
/* header right stop */




/* page design  start */ 
.pagemaster{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("Images/background.png");
    margin-top: 70px;
}
.halfwidth{
    width: 50%;
}

.chotolekha{
        font-size: 16px;
    font-weight: bold;
    color: #96BB7C;
    
}
.borovai{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    

    
    
}
.leftside h1{
    font-size: 58px;
    margin-left: 0px;
    

}
.btn{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.btn1{
    background-color: #96BB7C;
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: white;
    border: #96BB7C;
}
.btn2{
    font-size: 14px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    border: #96BB7C solid 2px;
    color: #96BB7C;
    background-color: white;
    margin-left: 10px;
}
.rightimg{
   width: 100%;
   height: auto;
   margin-bottom: -80px
   
}

.chotolekha1{
    color: #737373;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}
/* page design  stop */

