
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container{
    padding: 0px 100px;
}
.container1{
    padding: 0px 200px;
}
body{
    margin: 0px;
     font-family: "Poppins", sans-serif;
     background-color: rgb(192, 185, 185);
     max-width: 1440px;
     margin-left: auto;
     margin-right: auto;
}
.webmain{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    
}
/* Header start */
.leftmenus a{
    text-decoration:none;
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
    margin-left: 34px;
}
.leftmenus a:hover{
    color: #FA5000;
}
header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    margin-top: 20px; 
}
.menubar{
    display: none;
    font-size: 25px;
    color: #3A3A3A;
}

/* Header stop */

/* page 1 start */

.halfwidth{
    width: 50%;
}
.btn{
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    background-color: #fa4f00b9;
    padding: 10px 24px;
    border: 3px solid #fa4f00b9;
    border-radius: 41px;
    font-size: 16px;
    font-weight: bold;
    color: white;}
    .btn:hover {
        background-color:#FA5000;
    }

    .leftside{
        width: 100%;
    }
    .leftside h1{
        font-size: 52px;
        font-weight: bold;
        color: #3A3A3A;
        margin-bottom: 0px;
    }
    .leftside p{
        font-weight: 600;
        font-size: 16px;
        color: #3A3A3A;
        text-align: justify;
        letter-spacing: 0.2px;
        line-height: 20px;
    }

.rightside{
    position: relative;
    width: 40%;
    height: auto;

}
.bgimg1{
    width: 100%;
    height: auto;
    
}
.bgimg2{
    position: absolute;
    top: 80px;
    left: 35px;
    width: 90%;
    height: auto;
    
}
.journeyst{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.logod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    
    margin-top: 150px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.158);   
}
/* <!-- page 1 stop --> */

/* page 2 start */
.Popular{
    margin-top: 150px;
}
.polar{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}
.seeing {
    display: flex;
    gap: 10px;
    width: 100%;
    color: #E02C6D;
    font-size: 16px;
    justify-content: flex-end;
    margin-top: 50px;
    
}
.seeing a{
    text-decoration: none;
    color: #E02C6D;
    font-size:16px;
}
.box1{
    padding: 10px 15px;
    width: 329px;
    height: 476px;
   
    border-radius: 5px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.205);
    background-color: rgb(230, 224, 224);
}
.boxtitle{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0px;
}
.boxcont{
    font-size: 24px;
    margin-top: 0px;
}
.stars{
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #FB8200;
}
#start{
    color: black;

}
.boxcont2{
    font-size: 14px;
    
}
.allbox{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.boximg{
    display: flex;
    width: 100%;
    justify-content: center;
}
/* <!-- page 2 stop --> */

/* <!-- page 3 start --> */
.widthu1{

width: 50%

}
.featuremain{
    display: flex;
    margin-top: 150px;
    
}
.featuremain h1{
    font-size: 38px;
    font-weight: bold;
    color: #3A3A3A;
    margin-bottom: 0px;
}
.featuremain p{
    font-size: 16px;
    color: #3A3A3A;
}
/* page 3 stop */
.mainfoot1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainfoot1 h3{
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
}
.mainfoot1 p{
    font-size: 14px;
    
    color: #D9DBE1;
}
footer{
    background-color:#0A0826;
    margin-top: 50px;
}
.mainfoot2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 16px;
}












@media screen and (max-width:1319px) {
    .allbox{
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
    
}

@media screen and (max-width:1185px) {
    
    .bgimg2{
        top: 30px;
        left: 30px;
    }
}

@media screen and (max-width:1053px) {
    .featuremain h1{
        font-size: 30px
    }
    .featuremain p{
        font-size: 14px;
    }
}
@media screen and (max-width:1005px) {
    .leftside h1{
        font-size: clamp(24px, 5vw, 52px);
         white-space: nowrap;
    }
    
    .container{
    padding: 0px 50px;
}
}
@media screen and (max-width:919px) {
    .featuremain h1 {
        font-size: 25px;
    }
    .contomg{
        width: 90% ;
        height: auto;

    }
        
    
}
@media screen and (max-width:870px) {
  .leftmenus a{
    display: none;
  } 
   .menubar{
    display: block;
    color: #3A3A3A;
   }
.menubar:hover{
    color: #FA5000;
}
   
   
   .leftside{
    width: 100%;
   }
}

@media screen and (max-width:839px) {

    .allbox{
        grid-template-columns: auto;
        width: 100%;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .box1{
        width: 100%;
    }
    
}
@media screen and (max-width:817px) {
    .leftside p {
        font-size: clamp(8px, 2vw, 16px);
    }
    
}
@media screen and (max-width:739px) {
    
    
    .btn{
    padding: 5px 15px;
    font-size: 10px;
    
}

}
@media screen and (max-width:662px) {
    .leftside h1{font-size: clamp(26px, 4.5vw, 52px);
  white-space: nowrap;}
  .container{
    padding: 0px 10px;
}
    
.journeyst{
    flex-direction: column-reverse;
    text-align: center;
}
.rightside{
    width: 60%;
}
.leftside{
    width: 100%;
    height: auto;
}

.container{
    padding: 0px 30px;
}
.leftside p{
    text-align: center;
    font-size: 16px;
}
.btn{
   
    padding: 10px 24px;
    font-size: 16px;
}
.leftside{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.featuremain{
    flex-direction: column;
    align-items: center;

}
.featuremain h1{
    font-size: 30px;
    text-align: center;
}
.featuremain p{
    text-align: center;
}
.buttone{
    display: flex;
    justify-content: center;
}

.contomg{
    width: 100%;
}
.widthu1{
    width: 100%;
}
   .container{
    padding: 0px 20px;
   }
}
@media screen and (max-width:612px) {

.leftside p {
    font-size: clamp(13px, 3vw, 16px);
    text-align: center;
}
.container{
    padding: 0px 20px;
}
}
@media screen and (max-width:463px) {
    .box1{
        width: 279px;
    }
}
