
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    
}
.webmain{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
/* Common class */
.container{
    
    padding: 0px 70px;
}
.secfirstcont{
    font-size: 14px;
    font-weight: bold;
    color: #96BB7C;
    line-height: 24px;
    letter-spacing: 0.2px;
    
}
.commontitle{

    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #252B42;
    font-weight: bold;
    margin-bottom: 0px;
}
.commoncont{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
/* Common class */

/* Header start */

.mainhead{
    background-image: url("Images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: auto;
}
header a{
    text-decoration: none;
}
.leftmenu a{
    color: #737373;
    font-size: 14px;
    font-weight: bold;
    margin-left: 21px;
}
.leftmenu{
    margin-left: 25px;
}
header{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.342);
    position: sticky;
    top: 0px;

    background-color: white;
    
    
}
header h1{
    font-size: 27px;
    font-weight: bold;
}
.lefthead{
    display: flex;
    align-items: center;
}
.righthead a{
    color: #96BB7C;
    font-size: 14px;
    font-weight: bold;
    margin-right: 25px;
}
.righthead button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #96BB7C;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.righthead button:hover{
    background-color: green;
}
/* header stop */

/* Quality course start */
.halfwidth{
    width: 50%;
}
.qualitytitle{
    font-size: 58px;
    font-weight: bold;
    color: #252B42;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin-bottom: 0px;
}
.qualitycont{
    font-size: 20px;
    color: #737373;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.btn{
    padding: 15px 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}
.btn:hover{
    background-color: green;
}
.btn1{
    background-color: #96BB7C;
    color: white;
    border: 2px solid #96BB7C;
}
.btn2{
    background-color: #ffffff;
    color: #252B42;
    border: 2px solid #96BB7C;
    margin-left: 10px;
}
.qualitymain{
    display: flex;
    align-items: center;
    margin-top: 0px;
}
#qualityimg{
    width: 100%;
    height: auto;
    margin-bottom: -80px;
}

/* 2nd page start here */
.popularmain{

margin-top: 150px;
}
.card{
    width: 168px;
    height: 204px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    padding: 35px 40px;
}
.card h3{
    color: #252B42;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;

}
.redline{
    width: 50px;
    height: 2px;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}
#card3{
    background-color: #96BB7C;
}
.menuicon{
    display: none;
}
#card3 p{
    color: white;
}
#card3 h3{
    color: white;
}
#whiteline{
    background-color: white;
}
.parentcard{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    
    margin-top: 112px;    
}
/* responsive */

@media  screen and (max-width:1150px) {
    .qualitytitle{
        font-size: 40px;
        line-height: 65px;
    }
    .parentcard{
    
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 150px;
    }
    .card{
    width: 232px;
    height: 250px;
}
}

@media  screen and (max-width:918px) {
.container{
padding: 0px 30px;
}


}
@media  screen and (max-width:825px) {
    .qualitymain{
        flex-direction: column-reverse;
    }
    .halfwidth{
        width: 100%;
        text-align: center;
    }
    .formobile{
        margin-top: 100px;
    }
    .popularmain{
        margin-top: 80px;
    }
    .parentcard{
    
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
    }
    .rightheadctrl{
        display: none;
    }
    .menuicon i{
        color: #252B42;
        font-size: 25px;

    }
    .menuicon{
        display: block;
    }
}
@media  screen and (max-width:668px) {
    
     .parentcard{
    
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 40px;


}
}
    








    
  
