
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    
}
/* Common class */
.container{
    
    padding: 0px 70px;
}
.secfirstcont{
    font-size: 14px;
    font-weight: bold;
    color: #96BB7C;
}
/* Common class */

/* Header start */

.mainhead{
    background-image: url("Images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: auto;
}
header a{
    text-decoration: none;
}
.leftmenu a{
    color: #737373;
    font-size: 14px;
    font-weight: bold;
    margin-left: 21px;
}
.leftmenu{
    margin-left: 25px;
}
header{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
}
header h1{
    font-size: 27px;
    font-weight: bold;
}
.lefthead{
    display: flex;
    align-items: center;
}
.righthead a{
    color: #96BB7C;
    font-size: 14px;
    font-weight: bold;
    margin-right: 25px;
}
.righthead button{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #96BB7C;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.righthead button:hover{
    background-color: green;
}
/* header stop */

/* Quality course start */
.halfwidth{
    width: 50%;
}
.qualitytitle{
    font-size: 58px;
    font-weight: bold;
    color: #252B42;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin-bottom: 0px;
}
.qualitycont{
    font-size: 20px;
    color: #737373;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.btn{
    padding: 15px 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}
.btn:hover{
    background-color: green;
}
.btn1{
    background-color: #96BB7C;
    color: white;
    border: 2px solid #96BB7C;
}
.btn2{
    background-color: #ffffff;
    color: #252B42;
    border: 2px solid #96BB7C;
    margin-left: 10px;
}
.qualitymain{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
#qualityimg{
    width: 100%;
    height: auto;
    margin-bottom: -80px;
}
/* 1st page responsive */
@media screen and (max-width:992px){

    .qualitytitle{
        font-size: 40px;
        line-height: 50px;
    }
    
}
@media screen and (max-width:956px){
    .btn{
        padding: 15px 25px;
    }


}
@media screen and (max-width:850px){
    header h1{
    font-size: 25px;}

}

@media screen and (max-width:835px){
.leftmenu{
    margin-left: 15px;}
    .container{
        padding: 0px 40px;
    }
}

@media screen and (max-width:784px){


    .righthead a{
        margin-right: 15px;}
}


@media screen and (max-width:773px) {
    .leftmenu a{
        margin-left: 16px;
    }
}
@media screen and (max-width:745px) {

.leftmenu{
    margin-left: 8px;
}
header h1{
    font-size: 20px;
}
    

}


@media screen and (max-width:1025px) {
    .qualitytitle{
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 0px;
        
    }
    .qualitycont{
        font-size: 17px;
    }
}
@media screen and (max-width:1246px) {
    .qualitytitle{
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 0px;
        
    }
    .qualitycont{
        font-size: 20px;
    }
}
@media screen and (max-width:737px) {

.righthead button{
    padding: 10px 20px;
}
.qualitytitle{
    font-size: 30px ;
}
.qualitycont{
    font-size: 15px;
}
    

}
@media screen and (max-width:768px) {
.qualitytitle{
    font-size: 35px;
}
}
@media screen and (max-width:716px) {
.qualitytitle{
    font-size: 30px;
}
.btn1{
font-size: 12.5px;
}
}
@media screen and (max-width:695px) {
.qualitytitle{
    font-size: 29px;
}
.leftmenu a{
    font-size: 12px;
}
}
@media screen and (max-width:692px) {
.btn2{
    font-size: 12.5px;
}
}
@media screen and (max-width:674px) {
.btn{
    padding: 10px 20px;
}
.righthead button{
    padding: 10px 18px;
    font-size: 12.5px;
}
.righthead a{
    font-size: 12.5px;
}
}
@media screen and (max-width:650px) {
.container{
    padding: 0px 35px;
}
}
@media screen and (max-width:642px) {
.container{
    padding: 0px 30px;
}
}
@media screen and (max-width:632px) {
.container{
    padding: 0px 35px;
}
.leftmenu a{
    margin-left: 10px;
}
}
@media screen and (max-width:624px) {
.btn{
    padding: 8px 18px ;
    font-size: 12px;
}
}
@media screen and (max-width:614px) {
.container{
    padding: 0px 30px;
}
}
@media screen and (max-width:600px) {
.container{
    padding: 0px 25px;
}
}
@media screen and (max-width:590px) {
.container{
    padding: 0px 20px;
}
}
@media screen and (max-width:583px) {
.righthead a{
    margin-right: 10px;
}
}
@media screen and (max-width:578px) {
.container{
    padding: 0px 17px;
}
}
/* 1st page responsive end */








    
  
